setuptools
libmysqlclient-dev
Flask
Flask-JWT-extended
Flask-RESTful
Flask-restx
Flask-SQLAlchemy
Flask-Cors
Flask-Bcrypt
Werkzeug
eventlet
sqlalchemy==1.4.22
mysqlclient
pymysql
xml
pandas
tqdm
tensorflow
numpy
tqdm
tensorflow
transformers
gdown
gunicorn